temperatureWatcher/SettingsSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timefile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="method" type="xs:string" />
              <xs:element name="path" type="xs:string" />
              <xs:element name="readinterval">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hours" type="xs:unsignedByte" />
                    <xs:element name="minutes" type="xs:unsignedByte" />
                    <xs:element name="seconds" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="temperature">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="method" type="xs:string" />
              <xs:element name="path" type="xs:string" />
              <xs:element name="readinterval">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hours" type="xs:unsignedByte" />
                    <xs:element name="minutes" type="xs:unsignedByte" />
                    <xs:element name="seconds" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="startlevels">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="level">
                <xs:complexType>
                  <xs:attribute name="temperature" type="xs:byte" use="required" />
                  <xs:attribute name="hours" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="minutes" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="seconds" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="execution">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="executable" type="xs:string" />
              <xs:element name="flags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="on" type="xs:string" />
                    <xs:element name="off" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="delayShutdown">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hours" type="xs:unsignedByte" />
                    <xs:element name="minutes" type="xs:unsignedByte" />
                    <xs:element name="seconds" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>